{% extends "website/index.html" %}

{% block title %}Chai aur tweet{% endblock %}

{% block content %}
   <div class="container mt-4">
     <a class="btn btn-primary mb-3" href="{% url 'tweet_create' %}" role="button">Create new tweet</a>

     <div class="d-flex flex-wrap gap-4">  <!-- Flexbox container for cards -->
          {% for tweet in tweets %}
          <div class="card" style="width: 18rem;">
               
               <div class="card-body">
                    {% if tweet.photo %}
               <img src="{{ tweet.photo.url }}" class="card-img-top mb-3" alt="Tweet photo">
               {% endif %}
                 <h5 class="card-title">{{ tweet.user.username }}</h5>
                 <p class="card-text">{{ tweet.text }}</p>
                 <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                 <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
               </div>
             </div>
          {% endfor %}
     </div>
   </div>
{% endblock %}
